@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './responsive.scss';


// page d'acceuil
.connexionBoxParent {
  margin-top: 300px;

}
.connexionBox {
  font-size: 3.4rem;
}

.connexionInput {
  align-items: center;
  font-size: 2rem;
}

.connexionButton {
  font-size: 2.3rem;
  margin: 100 20;
}

// page App

.App {
  position: relative;
  display: block;
  
}

.App-header {
	color: #2196F3;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 1000px;
	height: 780px;
	overflow: hidden;
}

.carousel {
  position: relative;
  display: block;
  
}

.carousel-item {
	
}

.messages {
	flex: 1 1 100%;
	/*border: 5px solid red;*/
	box-sizing: border-box;
	align-self: flex-end;
	max-height: calc(100vh - 310px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.messages::-webkit-scrollbar {
  width: 0.8em;
}

.messages::-webkit-scrollbar-thumb {
background-color: #eceff1;
}

/* ----------------------------
	MESSAGE
---------------------------- */

.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 3rem;
}

.message > * {
	padding: 5px 10px;
	max-width: 75%;
	border-radius: 2px;
	margin: 10px 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
	font-size: 3rem;
}

.not-user-message {
	background-color: #eceff1;
	align-self: flex-start;
	position: relative;
}

.not-user-message:after {
	content: '';
	position: absolute;
	top: -7px;
	left: 10px;
	width: 0;
	border-width: 0 10px 7px 0;
	border-style: solid;
	border-color: #eceff1 transparent;
}

.user-message {
	background-color: #2196F3;
	color: rgb(66, 15, 15);
	align-self: flex-end;
	position: relative;
	font-size: 2rem;
}

.user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 10px;
	width: 0;
	border-width: 7px 0 0 10px;
	border-style: solid;
	border-color: #2196F3 transparent;
}

/* ----------------------------
	FORMULAIRE
---------------------------- */

.form {
	align-self: flex-end;
}

.form > * {
	width: 100%;
}

textarea {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 320px;
	border: 5px solid #2196F3;
	border-width: 0 0 5px 0;
	background-color: #ECEFF1;
	outline: none;
	font-size: 40px;
	padding: 5px 10px;
}

.info {
	text-align: right;
	padding-right: 5px;
}

button {
	font-size: 20px;
	border: none;
	color: white;
	background-color: #2196F3;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
	border-radius: 2px;
}

button:disabled {
	background-color: #eceff1;
	cursor:not-allowed;
	color: white;
}

/* ----------------------------
	NotFound
---------------------------- */

.notFound {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: #eceff1;
}

/* ----------------------------
	TodoList
---------------------------- */

.TodoList {
    position: relative;
    height: 550px;
}

button {
    width: 90px;
    height: 50px;
}
